.App {
	text-align: center;
}

.App-error {
	color: indianred;
}

.App-logo {
	height: 80px;
}

.App-header {
	padding: 20px;
	color: rgb(255, 227, 0);
	display: flex;
	justify-content: start;
	align-items: center;
}

.App-title {
	font-size: 1.5em;
}

.App-body {
	float: left;
	font-size: large;
	width: 50%;
}

.App-selected {
	float: right;
	width: 50%;
}

